<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Taskboard of {{ proj_name }}</title>
    <script type="text/javascript" src="/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/js/ui/ui.core.js"></script>
    <script type="text/javascript" src="/js/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="/js/ui/ui.droppable.js"></script>
    <script type="text/javascript" src="/js/ui/ui.dialog.js"></script>
    <script type="text/javascript" src="/js/form.js"></script>
    <link rel="stylesheet" href="/js/themes/base/ui.theme.css" type="text/css" />
    <link rel="stylesheet" href="/js/themes/base/ui.core.css" type="text/css" />
    <link rel="stylesheet" href="/js/themes/base/ui.dialog.css" type="text/css" />
    <script type="text/javascript">
      $(document).ready(function(){
                /* HANDLERS */
                $(".add-task").click(function(){
                       $('#story-key').val($(this).parents('tr.story-row').attr("id"));
                       $('.add-task-dialog').dialog({
                           title: 'Add new task',
                           close: function(event, ui) {
                                $('.add-task-dialog').dialog('destroy');
                           }
                       });
                    })

                $('#new-task-form').ajaxForm({
                    dataType:  'json',
                    success: function(data) {
                        if (data.success) {
                            var task = '<div class="draggable task-sticker"'
                                +'id="'+data.task_key+'">'
                                +'<div class="task">'
                                +$(".add-task-dialog input[name='name']").val()
                                +'<span class="estimate">'
                                +$(".add-task-dialog input[name='estimate']").val()
                                +'</span>'
                                +'</div>'
                                +'</div>';
                            $('#'+$('#story-key').val()+' td.not-started').append(task);
                            $('#'+data.task_key).draggable();
                            $('.add-task-dialog').dialog('close');
                        } else {
                            alert(data.message);
                        }
                    }
                });

                $('.draggable').each(function(){
                    $(this).draggable({
                        //cancel: 'a.ui-icon',// clicking an icon won't initiate dragging
                        //revert: 'invalid', // when not dropped, the item will revert back to its initial position
                        containment: $(this).parents('tr.story-row')
                        //helper: 'clone',
                        //cursor: 'move'
                    });
                });

                //$('.not-started').droppable();
                //$('.in-progress').droppable();
                //$('.done').droppable();

      })
    </script>

    <style type="text/css">
    table#board thead {
        background-color: #ccc;
    }

    .add-task-dialog {

    }

    tr.zebra {
        background-color: #eee;
    }

    div.task-sticker {
        width: 204px;
        height: auto;
        padding: 2px;
    }

    div.task {
        background-color: yellow;
        margin: 3px;
        width: 200px;
        min-height: 100px;
        position: relative;
        padding: 3px;
    }

    div.task span.estimate {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    </style>
</head>
<body>
<h2><a href="/">I'm logo :)</a></h2>
<h1>Project Name: {{ proj_name }}</h1>
<div id="menu">
 <a href="/project/{{ proj_name }}/backlog">Backlog</a>
 | <strong>Taskboard</strong>
 </div>
 <table id="board" width="100%">
    <thead>
        <tr>
            <td>Story</td>
            <td>Not started</td>
            <td>In progress</td>
            <td>DONE</td>
        </tr>
    </thead>
    <tbody>
        {% for story in stories %}
              <tr class="story-row" id="{{story.key}}">
	       <th>{{story.name}} <a href="#" class="add-task">Add Task</a></th>
               <td class="droppable not-started">
                   {% for task in story.taskList %}
                   <div class="draggable task-sticker" id="{{task.key}}">
                       <div class="task">
                           {{task.name}}
                           <span class="estimate">{{task.estimate}}</span>
                       </div>
                   </div>
                   {% endfor %}
               </td>
	       <td class="droppable in-progress"></td>
	       <td class="droppable done"></td>
	      </tr>
	    {% endfor %}
    </tbody>
 </table>
 
<!-- Sample page content to illustrate the layering of the dialog -->
<div class="add-task-dialog" style="padding: 20px; display:none;">
<form action="/project/{{ proj_name }}/taskboard" method="post" id="new-task-form">
    <fieldset>
        <input type="hidden" name="storyKey" id="story-key" value=""/>
        <input type="text" name="name" value="Task description here..." /><br />
        <input type="text" name="estimate" value="estimate goes here" />
        <input type="submit" />
    </fieldset>
</form>
</div><!-- End sample page content --> 
</body>
</html>
